<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>048879B4-BD39-45BD-8BB3-AFA6272420BA</key>
	<dict>
		<key>acct</key>
		<string>048879B4-BD39-45BD-8BB3-AFA6272420BA</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>MacBookAir6,2</string>
		</dict>
		<key>labl</key>
		<string>Alexander’s MacBook Air</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			a0ppSECK2LQe2GUqyCgogw==
			</data>
			<key>edPK</key>
			<data>
			0+OYL0S/YNsYdWfRpV6voy8pC2FatYxJ5crW+AdXH68=
			</data>
		</dict>
	</dict>
	<key>171C1ABC-EEF5-4DA0-BF48-727A9AEFABF6</key>
	<dict>
		<key>acct</key>
		<string>171C1ABC-EEF5-4DA0-BF48-727A9AEFABF6</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPhone10,6</string>
		</dict>
		<key>labl</key>
		<string>iPhone</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			STUH03vh8kNdNAr39TkYRw==
			</data>
			<key>edPK</key>
			<data>
			Ao4gv5E+cjeByxVfRSYcLPFgYKS7xJCdoAwuYcsCJeE=
			</data>
		</dict>
	</dict>
	<key>1BC79F51-ED86-4587-96D6-9A04B1798DD8</key>
	<dict>
		<key>acct</key>
		<string>1BC79F51-ED86-4587-96D6-9A04B1798DD8</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPhone10,6</string>
		</dict>
		<key>labl</key>
		<string>iPhone</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			PImlm5fIP55IO84E3kJqgg==
			</data>
			<key>edPK</key>
			<data>
			NC/Hz5+g+acHDHpKYz6+LJ3fXauPdE6bh4OLl8YV7yQ=
			</data>
		</dict>
	</dict>
	<key>41F3452F-E3CF-495B-8B42-9563FB160016</key>
	<dict>
		<key>acct</key>
		<string>41F3452F-E3CF-495B-8B42-9563FB160016</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>MacBookPro15,1</string>
		</dict>
		<key>labl</key>
		<string>Alexander's MacBook Pro TB</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			PuvpJQ6PwDTFqCU/JIE6uw==
			</data>
			<key>edPK</key>
			<data>
			rcERWT26AxUdTJ9Io/UrPAsFN5DnvoPV2G+Tc5Yejgs=
			</data>
		</dict>
	</dict>
	<key>5F1BF65A-0633-4608-8E8D-CF40967F12CF</key>
	<dict>
		<key>acct</key>
		<string>5F1BF65A-0633-4608-8E8D-CF40967F12CF</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
		<key>labl</key>
		<string>Alexander’s MacBook Pro</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			6U6ldvdRnV0bn4BwVwj7ZQ==
			</data>
			<key>edPK</key>
			<data>
			SiKpmX0AcgZeOCWLjTvFJK3W/A4Tgv4JenBSjE7MJDY=
			</data>
		</dict>
	</dict>
	<key>64E5D672-3B41-427A-BDEA-511D01F9C5CA</key>
	<dict>
		<key>acct</key>
		<string>64E5D672-3B41-427A-BDEA-511D01F9C5CA</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPad6,3</string>
		</dict>
		<key>labl</key>
		<string>Alexanders iPad (2)</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			HhmDRIg/Bv0mYOzi7GgDpg==
			</data>
			<key>edPK</key>
			<data>
			49l64M3PjPcHwIbjsPxrZNq3kbNSW5G5QbaGWzLPDnk=
			</data>
		</dict>
	</dict>
	<key>68800C7B-BBD4-47CF-BBFD-10C59232002D</key>
	<dict>
		<key>acct</key>
		<string>68800C7B-BBD4-47CF-BBFD-10C59232002D</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
		<key>labl</key>
		<string>Alexander’s MacBook Pro</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			Atbjq7DfFkuJsYAgcl7s8w==
			</data>
			<key>edPK</key>
			<data>
			5XmKpBCeH1pQtv3CtwEvZkIqJgKKn7W+9I0fYlc7Zs8=
			</data>
		</dict>
	</dict>
	<key>840E4904-75AB-4644-BEDD-96087E84C814</key>
	<dict>
		<key>acct</key>
		<string>840E4904-75AB-4644-BEDD-96087E84C814</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>2</integer>
			<key>model</key>
			<string>Watch3,2</string>
		</dict>
		<key>labl</key>
		<string>Alexander sin Apple Watch</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			7BQSqcx3fowCkMEcRI2aPQ==
			</data>
			<key>edPK</key>
			<data>
			jlBklbmCHCBAqSj+aoZ35Fjes+y2+4we3nZYTycejgo=
			</data>
		</dict>
	</dict>
	<key>8EFCF9EB-D39E-4070-BD4A-93389BA8C00B</key>
	<dict>
		<key>acct</key>
		<string>8EFCF9EB-D39E-4070-BD4A-93389BA8C00B</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPhone8,1</string>
		</dict>
		<key>labl</key>
		<string>Alex SFD iPhone 6</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			1kZOcWkW2WgnxdSSLccCLg==
			</data>
			<key>edPK</key>
			<data>
			Zh+i1bVww3qFfqkbOUkPGSdps5TvwfnoetEaVWMhJr4=
			</data>
		</dict>
	</dict>
	<key>968B4D82-751E-414F-8B96-76364F294803</key>
	<dict>
		<key>acct</key>
		<string>968B4D82-751E-414F-8B96-76364F294803</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPad6,3</string>
		</dict>
		<key>labl</key>
		<string>iPad</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			855LiwWZLgTe1fgiKXcvhQ==
			</data>
			<key>edPK</key>
			<data>
			mF9y3sVHiwSY/8+pKM0yj4lPranKis5NVgCtFqLPBpw=
			</data>
		</dict>
	</dict>
	<key>A15FAB66-53AE-40E4-8D75-C73355DF5B63</key>
	<dict>
		<key>acct</key>
		<string>A15FAB66-53AE-40E4-8D75-C73355DF5B63</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>2</integer>
			<key>model</key>
			<string>Watch3,2</string>
		</dict>
		<key>labl</key>
		<string>Alexander sin Apple Watch</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			psW7K/0vuE4jt/Gf38N1LQ==
			</data>
			<key>edPK</key>
			<data>
			VQqb+HX+BM2cSupTeeoWlmmIPliLCZUnm3G5+FSRzHE=
			</data>
		</dict>
	</dict>
	<key>A5AC9527-3277-4A71-A2AA-871B00226BB8</key>
	<dict>
		<key>acct</key>
		<string>A5AC9527-3277-4A71-A2AA-871B00226BB8</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPhone10,6</string>
		</dict>
		<key>labl</key>
		<string>Alex‘ iPhone</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			N468OpnPgySB+L567sAZnQ==
			</data>
			<key>edPK</key>
			<data>
			6PqBS3uL1Sk1a9DgrvVbMSN0mOEak+wvBw1RvJh9Z+E=
			</data>
		</dict>
	</dict>
	<key>E005608B-90BC-4730-BF8C-19AB0BAB37F5</key>
	<dict>
		<key>acct</key>
		<string>E005608B-90BC-4730-BF8C-19AB0BAB37F5</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iMac13,2</string>
		</dict>
		<key>labl</key>
		<string>SEEMOOs iMac</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			Pbb3uokUfi8ekonXDMa6cw==
			</data>
			<key>edPK</key>
			<data>
			yosbRSpsdUItp+u9RHO02pbEHx/J/nwnfoe7JorEVsk=
			</data>
		</dict>
	</dict>
	<key>F7CA5511-FBE2-4C27-8C5F-D1BDAC1636D7</key>
	<dict>
		<key>acct</key>
		<string>F7CA5511-FBE2-4C27-8C5F-D1BDAC1636D7</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPad8,5</string>
		</dict>
		<key>labl</key>
		<string>Alexanders iPad</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			lXCvAu/41grcdCoCxfByzQ==
			</data>
			<key>edPK</key>
			<data>
			8+vaVA1U5cN99ouCa/CWTcVNMQ2S5+p9+RPpXqy3HYY=
			</data>
		</dict>
	</dict>
	<key>F9C94AEA-157D-48F1-8EA4-54B86D49951B</key>
	<dict>
		<key>acct</key>
		<string>F9C94AEA-157D-48F1-8EA4-54B86D49951B</string>
		<key>gena</key>
		<dict>
			<key>ff</key>
			<integer>3</integer>
			<key>model</key>
			<string>iPhone10,6</string>
		</dict>
		<key>labl</key>
		<string>iPhone</string>
		<key>svce</key>
		<string>RPIdentity-SameAccountDevice</string>
		<key>sync</key>
		<integer>1</integer>
		<key>v_Data</key>
		<dict>
			<key>dIRK</key>
			<data>
			15uemdVYV+nrWPUHNuueEg==
			</data>
			<key>edPK</key>
			<data>
			l2jHEG6YgFcnSskCN60pqvRyd5TgqRufAYPHgTWYT5E=
			</data>
		</dict>
	</dict>
</dict>
</plist>
